<div class="header-items-container" style="margin-top: 30px;">
  <div class="header-title">
    <h2 class="card-title">
      <a routerLink="/cats">
       My Cats
      </a>
    </h2>
    <div class="header-tools">
      <div class="badge badge-success">
        <button mat-button (click)="addCatDialog()">Add New Cat</button>
      </div>
    </div>
  </div>
  <div class="header-items-container" >
    <ul class="header-items clearfix">
      <li *ngFor="let cat of cats" class="header-items-container-item">
        <a [routerLink]="['/cat', cat.id]">
          <img src="{{cat.imgPath}}" alt="Cat Image" width="150" class="clickable img-responsive"  />
          <span class="header-cat-name">{{cat.name}}</span>
          <span class="header-cat-age">Age: {{cat.age}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
